<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Let's Travel</title>
<link rel="shortcut icon" href="">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
    <div id="hee">
    <h1 id="headeee">
        Wherever you go!
    </h1>
   </div>

   <div id="hello">
    <form class="formm">
   <input type="text" id="userInput" name="" placeholder="Country" required>
   <input type="date" name="" id="date" required> 
   <input id="submit" type="submit" name="" value="Submit" onclick="return " onsubmit="return " required>
   </form>
 </div> 

 <div class ="holder entry">
    <div class = "title">Your search details</div>
   <div id = "result">
   <div id= "country"></div>
   <div id= "days"></div>
   <div id = "temp"></div>
   <div id= "description"></div>
   <img id = "image" src="" id="image"></img>
  </div>
  </div>
 
<!-- <script src="../../../dist/main.js" type="text/javascript"></script> -->
</body>
</html>